html, body {
  margin: 10;
  padding: 0;
  background: white;
}
canvas {
  display: block;
}

#txt_script {
  resize: none;
}

#sld_interval {
  width: 300px;
}

.program {
  font-family: Monospace;
  color: black;
  font-weight: 400;
}
.current-instruction {
  font-family: Monospace;
  color: red;
  font-weight: 600;
}